@import "../../vars.css";

.toast_container {
  position: absolute;
  bottom: 10px;

  .toast {
    margin-top: 5px;
  }
}

.toast {
  display: flex;
  align-items: center;
  padding: 15px;
  min-height: 50px;
  min-width: 250px;
  border-radius: 4px;

  .badge {
    margin-right: 15px;
  }

  .close {
    margin-left: auto;
    padding-left: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    opacity: .5;
    cursor: pointer;
    transition: opacity ease-in-out .15s;

    &:hover {
      opacity: 1;
    }
  }

  &.__notice {
    background-color: $blue;
  }
  &.__error {
    background-color: $orange;
  }
  &.__success {
    background-color: $green;
  }
}
