@import "../vars.css";

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
}

:global {
  * {
    box-sizing: border-box;
  }

  body {
    background-color: $base;
    color: white;
    font-family: "Open Sans";
    font-size: 14px;
  }
}

.layout {
  max-width: 1024px;
  margin: auto;
}
