@import "../../vars.css";

$width: 400px;

.add_wanted {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  position: relative;
}

.input_group {
  position: relative;
  display: flex;

  .icon {
    position: absolute;
    height: 52px;
    width: 52px;
    line-height: 52px;
    text-align: center;
    right: 0;
    opacity: .5;
    cursor: pointer;
    transition: opacity ease-in-out .15s;
  }

  .icon:hover {
    opacity: 1;
  }
}

.search {
  width: $width;
  font-size: 22px;
  padding: 10px 52px 10px 15px;
  color: white;
  background-color: $base-light;
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: 4px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.search.__active {
  border-radius: 4px 4px 0 0;
}

.search:focus {
  border-color: #66afe9;
  outline: 0;
}

.results {
  position: absolute;
  top: 53px;
  width: $width;
  border: 1px solid rgba(0,0,0,0.6);
  margin-top: -1px;
  background-color: $base-light;
  border-top: none;

  .-loading {
    min-height: 200px;
  }
}

.result_item {
  display: flex;
  position: relative;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,0.6);
  }

  .text {
    background-color: $base-light;
    transition: visibility .4s,
                opacity .4s cubic-bezier(.9,0,.1,1),
                transform .4s cubic-bezier(.9,0,.1,1);

    &:hover {
      cursor: pointer;
      transform: translateX(5%);
    }

    &.__open {
      transform: translateX(101%);
      opacity: 0;
      visibility: hidden;
    }
  }

  .container {
    position: absolute;
    top: 0;
    right: 0;
    left: 50px;

    display: flex;

    padding: 0 10px;
    height: 100%;

    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
    }
  }

  .options {
    position: absolute;
    top: 0;
    right: 0;
    left: 50px;

    display: flex;
    background-color: #262c31;

    padding: 0 10px;
  }

  .img {
    width: 50px;
    height: 75px;
  }

  .title {
    display: inline-block;
    overflow: hidden;

    margin: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    flex: 1 auto;
  }

  .year {
    width: auto;
    opacity: .70;
  }

  .quality_select {
    padding: 5px 10px;
    font-weight: bold;
    background-color: $blue;
    border-radius: 4px;

    &:first-child {
      margin-right: 10px;
    }

    &:hover {
      background-color: #6fcafe;
      cursor: pointer;
    }
  }
}
