@import "../../vars.css";

$width: 400px;

.add_wanted {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  position: relative;
}

.input_group {
  position: relative;
  display: flex;

  .icon {
    position: absolute;
    height: 52px;
    width: 52px;
    line-height: 52px;
    text-align: center;
    right: 0;
    opacity: .5;
    cursor: pointer;
    transition: opacity ease-in-out .15s;
  }

  .icon:hover {
    opacity: 1;
  }
}

.search {
  width: $width;
  font-size: 22px;
  padding: 10px 52px 10px 15px;
  color: white;
  background-color: $base-light;
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: 4px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.search.__active {
  border-radius: 4px 4px 0 0;
}

.search:focus {
  border-color: #66afe9;
  outline: 0;
}

.results {
  position: absolute;
  top: 52px;
  width: $width;
  border: 1px solid rgba(0,0,0,0.6);
  margin-top: -1px;
  /*border-radius: 0 0 4px 4px;*/
  background-color: $base-light;

  .-loading {
    min-height: 200px;
  }
}

.result_item {
  display: flex;

  .text_container {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin: auto 0;
  }

  .img {
    width: 50px;
    height: 75px;
  }

  .title {
    width: 290px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .year {
    opacity: .70;
  }
}

.result_item:hover {
  cursor: pointer;
  background-color: #262c31;
}
